/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3e8ff;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    background: linear-gradient(90deg, #590b6e);
    color: #ffffff;
    padding: 25px;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* MENÚ HORIZONTAL */
.menu {
    background-color: #6c318e;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu li {
    flex: 1;
    text-align: center;
}

.menu a {
    display: block;
    padding: 15px;
    color: #f5f6fa;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu a:hover {
    background-color: #534860;
}

/* CONTENIDO */
.contenido {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100px
}

/* GALERÍA */
.galeria {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: center;
    height: 300px;
}

/* TARJETAS */
.item {
    flex: 1 1 350px;
    max-width: 400px;
    background-color: #c9b3df;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    height: 500px;
}

.item-desc {
    padding: 10px;
    font-size: 0.85rem;
    color: #333;
    height: 100px;
}

.item-footer {
    padding: 10px;
    background-color: #f1f2f6;
    font-size: 0.9rem;
    border-top: 1px solid #dcdde1;
}

/* FOOTER */
.footer {
    background-color: #4c2e7c;
    color: white;
    text-align: center;
    padding: 35px;
    font-size: 0.9rem;
}